# Opam
_opam/

# Visual Studio Code
.vscode/settings.json
.vscode/launch.json

# Visual Studio
.vs/

# Dune
_build/
/*.install

# GitHub Actions
/download-cache/

#   direnv (https://direnv.net/)
.envrc
