name: Syntax Check

on: push

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Check Markdown links but expect setup.exe to be missing for a full release until contributors/sign.sh run
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: '.github/workflows/syntax/mlc_config.json'
        use-verbose-mode: 'yes'
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
